Deny from 47.128
RewriteEngine On

# Don't rewrite if the requested file/directory actually exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Don't rewrite requests already going to index.php
#RewriteRule ^([a-zA-Z0-9]+)/mediawiki/(.*)$ /$1/mediawiki/index.php/$2 [L]
RewriteRule ^(.*)$ /mediawiki/index.php/$2 [L]
