@font-family-base: "Helvetica Regular 55", "Neue Helvetica 55 Roman", Arial, Helvetica, "Nimbus Sans L", "Free Sans", sans-serif;
@headings-font-family: "Helvetica Black 95", "Neue Helvetica 95 Black", "Arial Black", Helvetica, "Nimbus Sans L", sans-serif;

.worttrennung {
  /* Aktiviert die Wortrennung fï¿½r
     a) Browserausgabe gem. deutschen Trennregeln und
     b) Druckausgabe innerhalb des Wortes ohne Berï¿½cksichtigung der Trennregeln. Grund: wkhtmltopdf bug: https://github.com/wkhtmltopdf/wkhtmltopdf/issues/1730
  */
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

textarea {
  font-family: Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}


h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-family: @font-family-base;
}

h1,
.h1 {
  font-family: @headings-font-family;
  font-size: 1.8em;
}

h2,
.h2 {
  font-family: @headings-font-family;
  font-size: 1.5em;
}

h3,
.h3 {
  font-family: @headings-font-family;
  font-size: 1.2em;
}
span.mw-headline {
  font-family: @headings-font-family;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* labels etc */
.diqa-label {
  .worttrennung;
  color:gray;
}
.diqa-value {
  .worttrennung;
}

/* bootstrap correction */
div[class^="col-"] {
  padding-left: 0px;
}

/* hide standard mediawiki title-line because we display the title with our own template */
/* note: the title-line is displayed for Spezial:Mit_Formular_bearbeiten using a js-function in MediaWiki:Common.js */
.contentHeader,
#create_article {
  display: none;
}
.mw-headline {
  .worttrennung;
}
/* titel zeile */
.title-row {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 2em;
  margin-bottom: 10px;
}
.title-label {
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.title-category {
  display: inline-block;
  color: gray;
  margin-top: 5px;
  font-size: 14pt;
}

#mw-navigation {
  margin-bottom: 0px;
  * {
    .dropdown-toggle:hover {
      background-color: #e7e7e7;
    }
  }
}

/* layout korrekturen fÃ¼r Enhanced retrieval*/
/* grÃ¶sserer Titel fÃ¼r Suchtreffer */
div.xfsResult {
  a.xfsResultTitle {
    font-size: 18px;
  }
}
div.xfsResult:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* layout korrektur fÃ¼r guided tours */
p.guider_description {
  font-size: 1.3em !important;
}
div.guider_content {
  h1.guider_title {
    text-align: center;
    margin-bottom: 10px;
    border-bottom: solid 1px gray;
  }
}

/* layout korrekturen fÃ¼r link picker */
div#richtext-edit-links {
  .ui-state-default {
    background: #e6e6e6 !important;
  }
  .ui-state-active {
    background: white !important;
  }
  .ui-tabs-panel {
    background: white;
  }
  div {
    div {
      div {
        div#tabs.ui-widget-content,
        div#tabs.ui-widget-header {
          background: lightgray !important;
          ul {
            background: lightgray !important;
          }
        }
      }
    }
  }
}



/* layout elemente fÃ¼r reaktionellen bereich*/

.box-header {
  width: 100%;
  display: block;
  background-color: #b5b5b5;
  color: #333333;
  text-indent: 10px;
  line-height: 30px;
  padding-top: 0px;
  h1, h2, h3 {
    padding: 3px;
    margin: 0px;
  }
}
.box-box {
  margin-top: 0px;
  background-color: white;
  padding: 6px;
  margin-bottom: 10px;
}
/* Box fÃ¼r ApprovedRevision Hinweise
   Achtung: das div #newContentSub wird in Vorlage:Titel erzeugt!
*/
#newContentSub {
  text-align:right;
  background-color: orange;
  margin-bottom: 10px;
}
.approvedAndLatestMsg {
  display: none;
}

/* Hinweis-Box */
.permissions-errors {
  border: 10px solid;
  border-color: red;
  padding: 10px;
  .header {
    font-size: large;
    padding: 5px;
  }
}

.wikitable-borderless {
  thead {
    tr {
      font-size: medium;
      th.Titel {
        width: 40%;
      }
      th.NÃ¤chstes-Review-am,
      th.vom {
        width: 10%;
      }
    }
  }
  tr {
    th, td {
      border-bottom: 1px #b5b5b5 solid;
      border-right: 1px #b5b5b5 solid;
    }
  }
  .row-even {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .row-even:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .row-odd {
    background-color: rgba(0, 0, 0, 0.0);
  }
  .row-odd:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/* bootstrapp Tabellen: hover-Funktion einfÃ¼gen fÃ¼rs EinfÃ¤rben der Zeile bei Mouse-Over */
div.hover:hover {
  background-color: rgba(0, 0, 0, 0.2);
}


/* verhindert die Ãœberschneidung von Titel-Zeile und nachfolgender Tabelle */
#newContentSub {
  clear: both;
}

/* Tabellen in Bericht-Ansichten korrigieren */
.dataTable {
  th, td {
    font-size: 14px;
    -webkit-border-radius:0 0 0 0;
    -moz-border-radius:0 0 0 0;
    border-radius:0 0 0 0;
  }
  border: 1px #b5b5b5 solid;
  -webkit-border-radius:0 0 0 0;
  -moz-border-radius:0 0 0 0;
  border-radius:0px 0px 0px 0px;
}
.srf-datatables {
  .container {
    width: 100%;
  }
}

/* fonts in menÃ¼ vergrÃ¶ssern */
#mw-navigation-collapse {
  a {
    font-size: large;
  }
}


/* input box auf mainpage korrigieren */
.searchbox {
  .mw-ui-button {
    color: #ffffff;
    background-color: rgba(255, 66, 66, 0.8);
    border: 1px solid #cccccc;
    border-radius: 0px 4px 4px 0px;
    margin-left: -7px;
    font-size: 1.2em;
    margin-top: 0px;
    width: 90px;
    height: 40px;
    font-weight: bold;
  }
  .mw-ui-button:hover {
    color: #ffffff;
    background-color: rgba(255, 66, 66, 1);
  }
}
/* verstecke den newtalk-notifier im Seitenkopf
   die function showHelpLink() in MediaWiki:Common.js ersetzt den notifier durch ein "?", das auf die Hilfeseiten verlinkt und schaltet die Sichtbarkeit ein.
*/
li.navbar-newtalk-notifier {
  display: none;
}

/* Checkboxes werden jetzt grÃ¶sser angezeigt
*/
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

/* Runde Buttons auf Mainpage */
.round-button {
  margin: 10px auto 30px auto;
  color: #ffffff !important;
  width: 180px;
  height: 180px;
}
.round-button-circle {
  color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  border:10px solid;
  overflow: hidden;
  opacity: 0.8;
  width: 180px;
  height: 180px;
}
.round-button-circle:hover {
  opacity: 1 !important;
}
.round-button a {
  display:block;
  float:left;
  width:100%;
  padding-top:40%;
  padding-bottom:50%;
  line-height:1em;
  margin-top:-0.5em;
  text-align:center;
  font-family:Verdana;
  font-size:1.3em;
  font-weight:bold;
  text-decoration:none;
}


/* Tabber */
.tabbernav a {
  font-size: 18px;
}
.tabber .tabbertab {
  padding: 1px !important;
}
.hideunloaded {
  .tabbertab {
    display: none;
  }
  //.smw-spinner {
  //	display: block;
  //}
  //.tabber {
  //	display: none;
  //}
}

/* explore button */
#explore-more {
  padding: 2.5vh 0 10vh;
  padding: 1vh 0;
}
#explore-more a {
  position: relative;
  display: block;
  height: 125px;
  width: 125px;
  margin: 0 auto;
  padding-top: 25px;
  border-radius: 50%;
  border: solid 2px #eee;
  background-color: rgba(255, 66, 66, 0.8);
  text-align: center;
  text-decoration: none;
  font-size: 1.6em;
  color: #eee;
  cursor: pointer;
}
#explore-more a:focus, #explore-more a:hover {
  background-color: rgba(255, 66, 66, 1);
}
#explore-more a i.fa {
  width: 100%;
  font-size: 2em;
}
@-webkit-keyframes pulse {
  0% {-webkit-transform: scale(0); opacity: 0;}
  25% {-webkit-transform: scale(0.25); opacity: 0;}
  50% {-webkit-transform: scale(0.5); opacity: 0;}
  75% {-webkit-transform: scale(0.75); opacity: 0;}
  90% {-webkit-transform: scale(0.9); opacity: 0.5;}
  100% {opacity: 0; -webkit-transform: scale(1);}
}

@-moz-keyframes pulse {
  0% {-moz-transform: scale(0); opacity: 0;}
  25% {-moz-transform: scale(0.25); opacity: 0;}
  50% {-moz-transform: scale(0.5); opacity: 0;}
  75% {-moz-transform: scale(0.75); opacity: 0;}
  90% {-moz-transform: scale(0.9); opacity: 0.5;}
  100% {opacity: 0; -moz-transform: scale(1);}
}

@keyframes pulse {
  0% {transform: scale(0); opacity: 0;}
  25% {transform: scale(0.25); opacity: 0;}
  50% {transform: scale(0.5); opacity: 0;}
  75% {transform: scale(0.75); opacity: 0;}
  90% {transform: scale(0.9); opacity: 0.5;}
  100% {opacity: 0; transform: scale(1);}
}

#explore-more a .sonar-effect {
  position: absolute;
  right: -30px;
  top: -30px;
  width: 180px;
  height: 180px;
  border: 20px solid rgba(255, 66, 66, 0.35);
  border-radius: 50%;
  /* Giving Animation Function */
  -webkit-animation: pulse 5s linear infinite;
  -moz-animation: pulse 5s linear infinite;
  animation: pulse 5s linear infinite;
}







/* searchbox in header korrigieren */
/* 1: "Go"-Button entfernen */
#searchform {
  div {
    div {
      #searchGoButton {
        display: none;
      }
    }
  }
}
/* 2: Responsive Search Bar */
#searchInput {
  width: 0px;
  /*max-width: 75%;*/
  padding: 0px;
  display: none;
}
#mw-searchButton {
  border-radius: 4px;
}
#p-search:focus #searchInput,
#p-search:hover #searchInput {
  display: block;
  width: 100%;
  padding: 6px 12px;
}
#p-search:focus #mw-searchButton,
#p-search:hover #mw-searchButton {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}




/* forms */
formFieldBig,
.formFieldBig {
  font-size: 18px;
}
formField,
.formField {
  vertical-align: top;
  margin-bottom: 1em;
}
.minwidth90 { /* selection-fields werden sonst zu schmal angezeigt */
  .inputSpan {
    select {
      min-width: 90% !important;
    }
  }
}



.underline {
  border-bottom: 1px solid #eeeeee;
}
/* Texteingabefelder sollen genau 100% Bildschirmbreite einnehmen */
div#Risikoformular,
div#Kennzahlformular,
div#Wissenselementformular,
div#Nachrichtformular,
div#Frageformular,
div#Bezugselementformular,
div#Kategorieformular,
div#Wissenselementeabfragen,
div#Fragenabfragen,
div#Risikenabfragen,
div#Benutzerseiteformular {
  div {
    div {
      div.formField {
        span.inputSpan {
          div.select2-container {
            min-width: 100% !important;
          }
        }
        div.pfTreeInput {
          min-width: 100% !important;
        }
      }
    }
  }
}




/* Ausblenden der Tabellenspalten je nach GerÃ¤tegrÃ¶sse */
@media (min-width: 1200px){
  div#Hauptseite-Inputbox {
    div.mw-inputbox-centered {
      form {
        input[type="text"] {
          width: 750px;
        }
      }
    }
  }
}
@media (max-width: 1199px){ /* entspricht large in Bootstrap */
  div#Hauptseite-Inputbox {
    div.mw-inputbox-centered {
      form {
        input[type="text"] {
          width: 750px;
        }
      }
    }
  }
}
@media (max-width: 991px){ /* entspricht medium in Bootstrap */
  table.hidecolumns {
    .Beschreibung,
    .\00c4nderung {
      display: none;
    }
  }
  div#Hauptseite-Inputbox {
    div.mw-inputbox-centered {
      form {
        input[type="text"] {
          width: 550px;
        }
      }
    }
  }
}
@media (max-width: 767px){ /* entspricht small in Bootstrap */
  div#Hauptseite-Inputbox,
  div#Glossar-Inputbox {
    div.mw-inputbox-centered {
      form {
        input[type="text"] {
          width: 320px;
        }
      }
    }
  }
}
@media (max-width: 575px){ /* entspricht extra small in Bootstrap*/
  table.hidecolumns {
    .Dokumentart,
    .Art,
    .Score,
    .vom { /* TODO: fÃ¼ge hinzu ".Abteilung" sobald dieser Bug gefixt ist:
					https://github.com/SemanticMediaWiki/SemanticMediaWiki/issues/2586 */
      display: none;
    }
  }
  div.round-button { /* KnÃ¶pfe auf Mainpage verkleinern */
    margin: auto;
    width: 155px;
    height: 155px;
    div.round-button-circle {
      width: 155px;
      height: 155px;
    }
  }
  div#Hauptseite-Inputbox,
  div#Glossar-Inputbox {
    div.mw-inputbox-centered {
      form {
        input[type="text"] {
          width: 190px;
        }
        input[type="submit"] {
          width: 70px;
          padding: 0em !important;
        }
      }
    }
  }
  div.xfs_additional_property_table { /* Property-Table auf Suchseite ausblenden */
    display: none !important;
  }
  div.xfsResult a.xfsResultTitle {
    font-size: 14px !important;
  }
  div.ausblendenAufKleinenGeraeten { /* Hauptseite: Text ausblenden */
    display: none;
  }
  div#mw-indicators { /* Hauptseite: Protectionindicator ausblenden */
    display: none;
  }
}

@media print {
  #mw-navigation,
  .ns-0 .ambox,
  .ns-0 .navbox,
  .ns-0 .vertical-navbox,
  .ns-0 .infobox.sisterproject,
  .ns-0 .hatnote,
  .ns-0 .dablink,
  .ns-0 .metadata,
  .editlink,
  .navbar,
  a.NavToggle,
  span.collapseButton,
  span.mw-collapsible-toggle,
  th .sortkey,
  td .sortkey {
    display: none !important;
  }
  .firstHeading { margin-top: 0; padding-top: 0; }
  .printfooter,
  #footer,
  #footer-info,
  #footer-places,
  #footer-icons {
    display: none;
  }
  @page {
    size: auto;
  }
  #content a.external.text:after,
  #content a.external.autonumber:after {
    word-wrap: break-word;
  }
  #content a.external.text:after,
  #content a.external.autonumber:after,
  #content a:after {
    content: none;
  }
  #catlinks {
    display: none;
  }
  ol.references {
    display: none;
  }
  /*
      .page-break {
          display: block;
          page-break-before: always;
      }

      .firstHeading {
          margin-top: 0;
          padding-top: 0;
      }


      @page {
          size: auto;
          margin: 10mm 10mm 10mm 10mm;
      }
      */
  /* 2. Haupttitel (h1): Black, 16 pt, LW 0 */
  /*
  h1,
  .h1 {
      font-family: @headings-font-family;
      font-size: 28.16pt;
      margin-top: 0;
      margin-bottom: 0;
      font-stretch: 0;
  }
  */
  /* 3. Auszeichnungen (h2, h3, alle Titel auf den horizontalen Linien): Black, 10.5 pt, LW 0 */
  /*
  h2,
  .h2 {
      font-family: @headings-font-family;
      font-size: 18.48pt;
      font-stretch: 0;
  }
  h3,
  .h3 {
      font-family: @headings-font-family;
      font-size: 18.48pt;
      font-stretch: 0;
  }
  span.mw-headline {
      font-family: @headings-font-family;
  }
  */
  /* 4. Dokumentkategorie oben rechts (in CDM nicht definiert): Regular, 16 pt, LW 0 */
  /*
  .odb-title-side {
      color: gray !important;
      font-family: @font-family-base;
      font-size: 28.16pt;
      font-stretch: 0;
  }
  */

} /* media-print */