iframe.chemformula {
    border: none;

}

#ce-upload-to-chemscanner {
    margin-top: 15px;
}

.ketcher-editor {
    width: 100%;
}

.oo-ui-icon-chemform {
    background-image: url( images/chemistry.png );

}

.oo-ui-icon-literature {
    background-image: url( images/open-book.png );

}

.chemformula-tooltip {
    background: lightyellow;
    max-width: 600px !important;
    max-height: 420px !important;
}

.chem-extension-literature-title {
    font-weight: bold;
}

span.chem-extension-literature-author {
    font-size: smaller;
}

span.chem-extension-literature-year {
    font-size: smaller;
}

