iframe.chemformula {
    border: none;

}

iframe.chemformula-nofloat {
    border: none;
}

#ce-upload-to-chemscanner {
    margin-top: 15px;
}

.ketcher-editor {
    width: 100%;
}

.oo-ui-icon-chemform {
    background-image: url( images/chemistry.png );

}

.chemformula-tooltip {
    background: lightyellow;
    max-width: 600px !important;
    max-height: 420px !important;
}

