#pfForm .select2-container {
    width: 100% !important;
}

#pfForm .createboxInput {
    width: 100%;
}

#pfForm table.formtable th {
    width: 300px;
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-cmln, .container-xl {
        max-width: 100% !important;
    }
}

