div.container {
    max-width: 100%;
    margin-left: 50px;
}

div.flex-fill div.row:nth-child(2) {
    overflow-x: auto;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

div#content {
    padding: 0px !important;
}

div.multipleTemplateInstance:not(.minimized) td.fieldValuesDisplay {
    width: 100px;
}


