
div.flex-fill div.row:nth-child(2) {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

div#mw-content-text {
    overflow-x: auto;
}

div#content {
    padding: 0px !important;
}

div.multipleTemplateInstance:not(.minimized) td.fieldValuesDisplay {
    width: 100px;
}


