@media (min-width: 1800px) {
    .container {
        max-width: 1800px !important;

    }

}

@media (min-width: 1105px) {
    .container, .container-sm, .container-md {
        max-width: 1105px;

    }
}

@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 768px;

    }
}

div.flex-fill div.row:nth-child(2) {
    overflow-x: auto;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

div#content {
    padding: 0px !important;
}

div.multipleTemplateInstance:not(.minimized) td.fieldValuesDisplay {
    width: 100px;
}


